body {
  font-family: sans-serif;
}
.head h2 {
  color: #14b789;
  font-size: 40px;
  text-align: center;
  padding-top: 43px;
  font-family: monospace;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: #7c85ca;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 25%;
  bottom: 47%;
  transform: translate(-49%, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.lists {
  width: 90%;
  max-width: 400px;
  background-color: #7c85ca;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: calc(54% + 10px); /* Adjust the top value to create spacing */
  transform: translate(-49%, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.container h2 {
  padding-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-group {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-left: 9px;
}

.form-control {
  margin-top: 10px;
  font-family: cursive;
  border-radius: 6px;
  border: none;
  padding: 10px;
}

button {
  margin-left: 10px;
  margin-top: 10px;
  color: #0c0101;
  background-color: rgb(254, 248, 247);
  border-radius: 5px;
  padding: 10px;
  width: 90px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

.list {
  margin-right: 10px;
  margin-top: 30px !important;
}

li {
  margin-bottom: 15px;
  margin-left: -29px;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border: none !important;
  list-style: none;
  border-radius: 10px;
  padding: 10px;
  width: 280px;
}
.list-items {
  display: flex;
}
.list-items .list-item-list {
  flex: 1;
}
.list-items .list-item-icons {
  padding-left: 5px;
  font-size: 25px;
}
#list-item {
  text-decoration: line-through;
  opacity: 0.5;
}
